go 1.20

use ./days
use ./main
use ./days/01
use ./days/02
use ./days/03
use ./days/04
use ./days/05
use ./days/06
use ./days/07
use ./days/08
use ./days/09
use ./days/10
use ./days/11
use ./days/12
use ./days/13
use ./days/14
use ./days/15
use ./days/16
use ./days/17
use ./days/18
use ./days/19
use ./days/20
use ./days/21