go 1.20

use ./days
use ./main
use ./days/01
use ./days/02
use ./days/03
use ./days/04
use ./days/05
use ./days/06
use ./days/07
use ./days/08
use ./days/09
use ./days/10
use ./days/11
use ./days/12
use ./days/13
use ./days/14